@import "@/shared/style/color-consts";

.header {
  position: fixed;
  top: 0;
  padding: 0 16px;

  height: 80px;
  width: 100dvw;
  z-index: 9999;

  display: flex;
  align-items: center;

  background: $header-color;
}

.icons {
  position: fixed;
  right: 16px;

  display: flex;
  column-gap: 20px;
}

.icon {
  border-radius: 50%;

  padding: 6px;
  font-size: 32px;

  cursor: pointer;

  background: whitesmoke;
  color: black;
}