@import "@/shared/style/color-consts";
@import 'antd-override.scss';

body {
	margin: 0;

	background: $main-color;
	color: whitesmoke;
}

main {
	padding: 0 16px;
	margin: 80px 0 0 0;

	min-height: calc(100dvh - 80px);
}

::-webkit-scrollbar {
	width: 13px;
}

@mixin scrollbar-left-border {
	border-left-width: 2px;
	border-left: solid;
	border-right-width: 2px;
	border-right: solid;
	border-color: mix(black, $main-color, 20%);
}

::-webkit-scrollbar-track {
	background: $main-color;
	@include scrollbar-left-border;
}
::-webkit-scrollbar-thumb {
	background: $header-color;
	@include scrollbar-left-border;
	border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
	background: darken($header-color, 3);
}