@import "@/shared/style/color-consts";

.main {
  position: relative;
  background: $message-bg;
  padding: 5px;
  display: grid;
  row-gap: 10px;
  border-radius: 20px;
}

.helpPanel {
  background: $main-color;
  padding: 5px 10px;
  border-radius: 20px;
}

.content {
  padding: 0 15px;

  & p {
    margin: 0;
  }

  & blockquote {
    color: $quote-color;
    font-style: italic;
    margin: 0;
  }
}

.replies {
  color: lightgray;
}